@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    font-family: "Fredoka One";
    margin: 0px;
    padding: 0px;
    background-color: dodgerblue;
}

.header{
    -webkit-text-stroke: 5px white;
    font-size: 80px;
    color: orange;
    margin: auto;
    width: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px); 
    gap: 8px;
    width: 300px;
    height: 300px;
    margin: auto;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(197, 195, 190);
}

.footer{
    margin: auto;
    width: 280px;
    color: white;
    font-size: 25px;
}